<!-- Primary Page Layout
        ================================================== -->
<div id="wrap" class="colorskin-0">
    <div class="top-bar">
        <div class="container">
            <div class="top-links">

                <a href="AboutUS.php">About us</a> | <a href="Contact.php">Contact</a>|
                <?php if( isset($_SESSION[ 'UserMail'])){ ?>
                <a>
                    <?php echo $_SESSION[ 'UserMail'];$logout="Logout.php?link=<?php echo $_SERVER['REQUEST_URI']; ?>" ;?>
                </a>
                | <a id="Logout" href="Logout.php?link=<?php echo $_SERVER['REQUEST_URI']; ?>">Logout</a> 
                <?php }else { ?>
                <a href="Signup.php">Sign up</a>
                <?php }?>
            </div>
            <div class="socailfollow">
                <a href="#" class="facebook"> <i class="icomoon-facebook"> </i> 
                </a>
                <a href="#" class="dribble"> <i class="icomoon-dribbble"> </i> 
                </a>
                <a href="#" class="vimeo"> <i class="icomoon-vimeo"> </i> 
                </a>
                <a href="#" class="google"><i class="icomoon-google"> </i> </a>
                <a href="#" class="twitter"><i class="icomoon-twitter"> </i> </a>
            </div>
        </div>
    </div>
    <header id="header">
        <div class="container">
            <div class="four columns logo">
                <a href="index.php">
                    <img src="images/logo.png" width="70" height="60" id="img-logo" alt="logo">
                </a>
                <h4 class="subtitle" style="color:#9AA6AF ;display: inline;">Nutrition guide</h4>

            </div>
            <nav id="nav-wrap" class="nav-wrap1 twelve columns">

                <ul id="nav">
                    <li class="current">
                        <a href="index.php">Home</a>
                    </li>
                    <li>
                        <a href="Recipes.php">Recpies</a>
                        <ul>
                            <li>
                                <a href="Recipes.php?cat=Plates">Plates</a> 
                            </li>
                            <li>
                                <a href="Recipes.php?cat=Salades">Salades</a> 
                            </li>
                            <li>
                                <a href="Recipes.php?cat=Juices">Juices</a> 
                            </li>
                            <li>
                                <a href="Recipes.php?cat=Cookies">Cookies</a> 
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="Tips.php">Tips</a>
                        <ul>
                            <li>
                                <a href="Tips.php?cat=Recommandation">Recommandation</a>
                            </li>
                            <li>
                                <a href="Tips.php?cat=Avoid">To avoid</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="Store.php">Store</a> 
                        <ul>
                            <li>
                                <a href="#">Organic Ingredients</a>
                            </li>
                            <li>
                                <a href="#">Medecine</a>
                            </li>
                            <li>
                                <a href="#">Equipments</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <?php if (isset($_SESSION[ 'UserMail'])) { ?>
                        <?php $USEREMAIL=$_SESSION[ 'UserMail']; 
                           $Query=$bdd->query("SELECT ID,Type FROM Users where Email = '$USEREMAIL'");
    $Record=$Query->fetch();
    $ID=$Record['ID'];
    $Type=$Record['Type'];
    if ($Type=="User"){
    ?>

                                    <a href="User.php?id=<?php echo $ID ;?>">Profile</a>
    <?php
    }
    elseif ($Type=="Admin") {
?>
                                    <a href="Admin.php">Administration</a>

<?php
        }
}else { ?>
                        <a href="#">Login</a>
                        <ul style="width:180px;padding:5%;">
                            <li>
                                <form action="<?php echo htmlspecialchars($_SERVER[" PHP_SELF "]); ?>" method="post" style="width:150px;margin:5%;">
                                    <input type="email" name="EmailLogin" value="" placeholder="Email">
                                    <input type="password" name="PassLogin" value="" placeholder="Password">
                                    <div style="color:red; text-weight:300;">
                                        <?php echo $Error; ?>
                                    </div>
                                    <br>
                                    <input type="submit" style="background-color:#EF4836;width:150px;margin:2%;" value="Log in">
                                </form>
                            </li>

                        </ul>
                        <?php } ?>

                    </li>
                </ul>
            </nav>
            <!-- /nav-wrap -->
        </div>

    </header>
    <!-- end-header -->

    <section id="hero" class="tbg1">
        <div class="blox dark dark">
            <div class="container alignleft">
                <h1 class="pnf404">404</h1>
                <h2 class="pnf404">Page Not Found</h2>
                <br>
                <br class="clear">
                <p>
                    &nbsp;
                </p>
                <h3>We're sorry, but the page you were looking for doesn't exist.</h3>
            </div>
        </div>
    </section>
    <!-- end-hero-->
    <section class="blox dark nopad section-bg2" style="border-top:0px solid #e5e5e5;">
        <div class="container aligncenter">
            <hr class="vertical-space2">
            <h5>Other Services By</h5>
            <h1 class="mex-title">UNISOFT</h1>
            <div class="sixteen columns">

                <div class="one_third column">

                    <h4 class="subtitle" style="color: #C4C6C8;">Workout</h4>
                    <img src="images/Bodybuild.jpg" alt="Unisoft home page" class="Services_background" />

                </div>
                <div class="one_third column">
                    <h4 class="subtitle" style="color: #C4C6C8;">Aesthetics</h4>

                    <img src="images/Esthetic.jpg" alt="Unisoft home page" class="Services_background" />
                </div>
                <div class="one_third column">
                    <h4 class="subtitle" style="color: #C4C6C8;">wellness guide</h4>

                    <img src="images/Sexlife.jpg" alt="Unisoft home page" class="Services_background" />
                </div>

            </div>
        </div>
    </section>

    <footer id="footer" style="border-top: 5px solid #252627;">
        <section class="container footer-in">
            <div class="one_third column contact-inf">
                <h4 class="subtitle">Contact Information</h4>
                <br />
                <p>
                    <strong>Address:</strong>Esprit - EL Ghazela Ariana,Tunisia
                </p>
                <p>
                    <strong>Phone:</strong>+ 1 (234) 567 8901
                </p>
                <p>
                    <strong>Fax:</strong>+ 1 (234) 567 8901
                </p>
                <p>
                    <strong>Email:</strong>support@yoursite.com
                </p>
                <div>

                    <h4 class="subtitle">Stay Connected</h4>
                    <div class="socailfollow">
                        <a href="#" class="facebook"><i class="icomoon-facebook"> </i></a>
                        <a href="#" class="dribble"><i class="icomoon-dribbble"> </i></a>
                        <a href="#" class="vimeo"><i class="icomoon-vimeo"> </i></a>
                        <a href="#" class="google"><i class="icomoon-google"> </i></a>
                        <a href="#" class="twitter"><i class="icomoon-twitter"> </i></a>
                        <a href="#" class="youtube"><i class="icomoon-youtube"> </i></a>
                    </div>
                </div>
            </div>
            <!-- end-contact-info /end -->

            <!-- tweets  /end -->
            <div class="two_third column">
                <h4 class="subtitle">Location</h4>
                <br />
                <section class="full-width">
                    <div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d797.6600046132598!2d10.189218289020161!3d36.898959160825896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e2cb7454c6ed51%3A0x683b3ab5565cd357!2sESPRIT!5e0!3m2!1sen!2s!4v1395085887624" width=100% height="300" frameborder="0" style="border:0"></iframe>
                    </div>
                    <!-- END-contact Map -->
                </section>
                <!-- END-Google Map Section -->

            </div>

        </section>
    </footer>
    <!-- end-footer -->
    <span id="scroll-top"> <a class="scrollup"><i class="icomoon-arrow-up"> </i></a> 
    </span>
</div>
<!-- end-wrap -->

<script type="text/javascript" src="js/mexin-custom.js"></script>
<script type="text/javascript" src="js/doubletaptogo.js"></script>
