﻿/*----------------------------------

	Theme Name: Mexin
	Theme URI: http://webnus.net/mexin
	Description: Mexin is a Modern multi-purpose HTML5-CSS3 template with many different options, and is fully responsive. It covers any type of usage: Personal, Small Biz and Corporate. 
	Author: WEBNUS
	Author URI: http://themeforest.net/user/WEBNUS
	Version: 1.0.0
	
------------------------------------------------------------------------*/
 @import url('color-skins.css');

/* Import Color Skins Stylesheet */
 @import url('base.css');

/* Import base stylesheet */
 @import url('skeleton.css');

/* Import skeleton Stylesheet */
 @import url('prettyPhoto.css');

/* Import prettyPhoto Stylesheet */
 @import url('../layerslider/css/layerslider.css');

/* Import LayerSlider Stylesheet */
 @import url('slide1.css');

/* Import LayerSlider Stylesheet */
 @import url('flexslider.css');

/* Import Flex Slider Stylesheet */
 @import url('blox.css');

/* Import Full width Sections + Parallax Stylesheet */
 @import url('icomoon.css');

/* Import Vector Icons Stylesheet */

/*-----------------------------------------------------------------------------------*/

/* Table of Content
==================================================

	#Site Styles : WRAPPER - HEADER - NAVIGATION BAR - HOME-CONTENT - LATEST PROJECTS - TESTIMONIALS - FOOTER
	#Page Styles : PAGE STYLES - BLOG - COMMENT - LIST - PRICING-TABLE - ICON BOX  - PORTFOLIO 
	#Misc : ISOTOPE - ACCORDION - jCarousel
	#Media Queries
	
	

/* #Site Styles
================================================== */

/* WRAPPER */
 #wrap {
    margin:0 auto;
    position:relative;
    padding:0;
    background:#fff;
}
#boxed-wrap {
    margin:0 auto;
    background:#fff;
    width:1000px;
    -webkit-box-shadow: 0 0 9px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}
#boxed-wrap {
    border:1px solid #d6dbdc\9;
    border-bottom:none;
}
#full-width, #hero {
    width:100%;
    padding:0;
    clear:both;
    border-bottom:1px solid #d6d6d6;
}
#full-width img, #hero img {
    margin:0;
    max-width:100%;
    margin-bottom:-6px;
}
#wrap #layerslider-container, #wrap #layerslider-wrapper, #wrap .ls-vincie {
    max-width:1000px;
}
#headline, #headline2 {
    width: 100%;
    height:82px;
    padding:20px 0 20px;
    background: #fff;
}
#headline h3, #headline2 h3 {
    color:#424748;
    font-size:46px;
    margin:20px 10px;
    position:relative;
    text-transform:uppercase;
    font-weight:900;
    letter-spacing: -0.03em;
}
#headline h3 small, #headline2 small {
    font-size:56%;
    color:rgba(255, 255, 255, 0.8);
    font-weight:400;
    margin-left:10px;
    letter-spacing:-0.07em;
    text-transform:capitalize;
}
#headline h3 small {
    color:#808080;
    font-weight:300;
}
#headline2 {
    padding:25px 0 12px;
    background:#0093d0;
}
#headline2 h3 {
    color:#fff;
    border:0 none;
}
.tbg1 {
    background:url(../images/tbg1.png) repeat-x;
}
#sticker {
    background: #fff;
    z-index:90000;
    width:100%;
    height:auto;
    position:relative;
}
/* HEADER  */
 #top-head {
    margin:0;
    width:100%;
    height:0;
    border-bottom:4px solid #f8fbfd;
    background:#f3f6f8;
    padding: 0;
}
#header {
    padding-top:8px;
    border-bottom:3px solid #f3f3f3;
    position:relative;
}
#header h6, .top-bar h6 {
    font-size:16px;
    margin:20px;
    font-weight:400;
    color:#797979;
    display:inline-block;
}
#header h6 i, .top-bar h6 i {
    background:#f1f1f1;
    color:#545454;
    display:inline;
    margin:7px;
    padding:7px;
    border-radius:30px;
    vertical-align:middle;
}
.top-bar h6 {
    margin:0 16px 0 0;
    font-size:14px;
}
.top-bar h6 i {
    padding:3px;
    font-size:16px;
}
.logo {
    padding-top:6px;
    padding-bottom:3px;
}
.logo img {
    max-width:100%;
}
#site-title {
    text-transform:capitalize;
    font-weight:900;
    line-height:1;
}
#site-title small {
    font-size:16px;
    line-height:1.2;
    display:block;
    font-weight:normal;
    letter-spacing: -0.02em;
}
.top-bar {
    background:#fff;
    height:26px;
    padding:12px 0;
    border-bottom:1px solid #f3f3f3;
}
.top-links {
    float:left;
    color:#a9b2b4;
    font-size:11px;
    padding:4px 0 0 4px;
}
.top-links.rgtflot {
    float:right;
    padding-right:10px;
}
.top-links img, .top-links p {
    float:left;
    margin:4px 3px 0 0;
}
.top-links p {
    color:#d9d9d9;
    font-weight:bold;
    font-size:12px;
    line-height:1;
    margin:5px 9px 0 0;
}
.top-links a, .top-links span {
    color: #9aa6af;
    font-size:10px;
    display:inline;
    margin:0 6px;
    text-transform:uppercase;
    font-weight:bold;
}
.top-links a:hover {
    color:#ff932a
}
.top-co-inf .top-links {
    float:right;
    margin-top:8px;
}
.top-co-inf .top-links p {
    color:#6d6e71;
}
/* NAVIGATION BAR  */
 .nav-wrap1, .nav-wrap2 {
    height:83px;
    margin-top:-8px;
}
.nav-wrap2 {
    margin-top:12px;
    border-top:1px solid #f0f0f0;
    margin-bottom:-3px;
    border-bottom:3px solid #f3f3f3;
}
.nav-wrap2.mn4 {
    height:43px;
}
/* menu icon */
 #menu-icon {
    display: none;
    /* hide menu icon initially */
}
#nav {
    float:right;
}
#nav li {
    list-style: none;
    float:left;
    padding:0 8px;
    margin:0 8px;
    display:block;
    height:100%;
    vertical-align:middle;
    position:relative;
}
span.row-mn {
    background:url(../images/row-m1.png) no-repeat right center;
    width:10px;
    height:10px;
    position:absolute;
    margin-left:12px;
    right:6px;
    top:47%;
}
/* nav link */
 #nav a {
    height:80px;
    line-height:80px;
    padding:0 7px;
    display:block;
    text-transform:uppercase;
    position:relative;
    border-top:3px solid rgba(255, 255, 255, 0.0);
    text-decoration:none;
    color:#444;
    opcity:1;
    text-align:center;
    -webkit-transition:border .15s ease-in-out, color .15s ease-in-out;
    -moz-transition:border .15s ease-in-out, color .15s ease-in-out;
    -ms-transition:border .15s ease-in-out, color .15s ease-in-out;
    -o-transition:border .15s ease-in-out, color .15s ease-in-out;
    transition:border .15s ease-in-out, color .15s ease-in-out;
}
#nav a:hover, #nav li:hover > a {
    color:#0093d0;
    border-top-color:#0093d0;
}
#nav li.current a {
    color:#0093d0;
    border-top-color:#0093d0;
}
#nav a.drp-aro {
    padding-right:16px;
}
/* nav link Header2 */
 .nav-wrap2 #nav {
    float:left;
    margin-bottom:0;
    margin-top:-2px;
}
.nav-wrap2 #nav li {
    margin:0;
    padding:0 30px 0 0;
}
.nav-wrap2 #nav a {
    line-height:21px;
    text-align:left;
    padding-top:20px;
    height:62px;
}
#nav a span, #nav a:after {
    margin-top:2px;
    display:block;
    font-size:12px;
    color:#919191;
    text-transform:lowercase;
    font-weight:400;
}
#nav a:after {
    content: attr(data-description);
}
.nav-wrap2.mn4 #nav a:after {
    content:"";
    display:none;
}
.nav-wrap2.mn4 #nav li {
    border-left:1px solid #f2f2f2;
    padding:0;
    margin-top:1px;
    margin-bottom:-1px;
}
.nav-wrap2.mn4 #nav li:last-child {
    border-right:1px solid #f2f2f2;
}
.nav-wrap2.mn4 #nav a {
    height:32px;
    padding:10px 20px 0 20px;
    margin:0 -1px;
    text-transform:capitalize;
}
.nav-wrap2.darknavi {
    background: #424242;
    border-top:1px solid #202020;
    border-bottom:3px solid #222;
}
.nav-wrap2.darknavi #nav li a {
    color:#fff;
}
.nav-wrap2.darknavi #nav ul li a {
    color:#595959;
}
.nav-wrap2 span.row-mn {
    top:23px;
}
.nav-wrap2.darknavi span.row-mn {
    background:url(../images/row-m2.png) no-repeat right center;
}
.nav-wrap2.mn4.darknavi #nav li {
    border-left:1px solid #555;
}
.nav-wrap2.mn4.darknavi #nav li:last-child {
    border-right:1px solid #555;
}
.nav-wrap2.mn4 span.row-mn {
    display:none;
}
/* nav dropdown */
 #nav ul {
    background: #fff;
    padding: 7px 1px;
    margin:0;
    position: absolute;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    border:1px solid #d4d4d4\9;
    border-top:3px solid #0093d0;
    display: none;
    /* hide dropdown */
    width: 172px;
    z-index:91000;
    border-radius: 0 0 4px 4px;
}
#nav ul li {
    float: none;
    border-bottom:1px solid #f6f6f6;
    display:block;
    margin: 0;
    padding:0;
    font-family:"Open Sans", Helvetica, Arial, sans-serif;
}
#nav ul li:last-child {
    border:none;
}
#nav ul li a, #nav li.current ul li a, #nav ul li:hover > a {
    background:#fff;
    color:#595959;
    width:auto;
    display:block;
    text-align:left;
    padding: 5px 11px;
    border-radius:0;
    font-size:13px;
    border:0 none;
    text-transform:capitalize;
    line-height:24px;
    height:24px;
    font-weight:normal;
}
#nav ul li a:hover, #nav li.current ul li a:hover, .nav-wrap2 #nav ul li a:hover, .nav-wrap2.darknavi #nav ul li a:hover, #nav ul li.current a, #nav li.current ul li.current a {
    background:#f8f8f8;
}
#nav li:hover > ul {
    display: block;
    visibility:visible;
    /* show dropdown on hover */
}
#nav ul li ul {
    margin:-33px 0 0 170px;
    width:170px;
}
.nav-wrap2 #nav ul li a, .nav-wrap2.darknavi #nav ul li a, .nav-wrap2.mn4 #nav ul li a {
    padding: 5px 11px;
    line-height:24px;
    height:24px;
}
.nav-wrap2 #nav ul li {
    margin: 0;
    padding:0;
}
.nav-wrap2.mn4 #nav ul li {
    border-left:0 none;
}
/* nav dropdown for(ie7) */
 *+html #nav li {
    position:relative;
    display:block;
}
*+html #nav li ul, *+html #nav li.current ul {
    left:0;
    clear:both;
    position:absolute;
    border:1px solid #d4d4d4;
}
*+html .container {
    z-index:2;
}
*+html #header {
    z-index:3;
    position:relative;
}
*+html #nav ul li ul {
    position:absolute;
    left:0;
    margin-top:-31px;
    display:none;
    visibility:hidden;
}
*+html #nav ul li:hover > ul {
    display:block;
    visibility:visible;
}
/* --------------------- */

/* Side Nav */
 #side-content {
    float:right;
}
#side-nav {
    float:left;
}
#side-nav ul {
    padding:10px 20px;
    background:#fff;
    border:3px solid #f3f3f3;
    list-style:none;
}
#side-nav ul li {
    border-bottom:1px solid #eaeaea;
    padding:0;
    margin:0;
}
#side-nav ul li:last-of-type {
    border-bottom:0 none;
}
#side-nav a {
    display:block;
    color:#575757;
    padding:14px 0;
    text-transform:capitalize;
    font-size:13px;
    font-weight:400;
    letter-spacing:0.2px;
    font-family:"Open Sans", Arial;
}
#side-nav a:after {
    float:right;
    font-family:'icomoon';
    font-size:10px;
    color:#878787;
    content:"\e3b0";
    speak: none;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
#side-nav a:hover, #side-nav a:hover:after {
    color:#ff9900;
}
#side-nav li.current a, #side-nav li.current a:after {
    color:#0093d0
}
/* --------------------- */
 #search-form {
    float:right;
    margin:23px 0 auto 16px;
}
#search-form .search-text-box, #search-form2 .search-text-box2 {
    background-color: #f3f3f3;
    background-image: url(../images/search-icon.png);
    background-position: 12px 50%;
    background-repeat: no-repeat;
    border: 0 none;
    border-radius: 18px;
    box-shadow: none;
    color: transparent;
    cursor: text;
    font-size: 13px;
    color:#444;
    height:18px;
    line-height: 18px;
    padding: 7px 5px 8px 30px;
    transition: all 0.3s ease-in-out 0s;
    width: 1px;
}
#search-form2 {
    display:none;
    position:relative;
}
#search-form2 .search-text-box2 {
    width:220px;
    margin:auto;
    position:relative;
}
/* Quote of the Week */
 .qot-week {
    clear:both;
    margin:10px;
    margin-top:36px;
    padding-bottom:18px;
    position:relative;
    text-align:center;
    border-top:1px solid #e5e5e5;
}
.qot-week .qot-pic {
    position:relative;
    margin:0 auto;
    margin-top:7px;
    height:40px;
    width:74px;
}
.qot-week .qot-pic:before {
    content:'\201C';
    border-top:2px solid #c4c4c4;
    border-radius:50%;
    font-size:62px;
    color:#555;
    font-weight:bold;
    background:#fff;
    padding:3px 20px;
    margin-top:20px;
    font-family: Georgia, Times, serif
}
.qot-week h6.qot-title {
    text-transform:uppercase;
    margin:8px 0;
    color:#999;
    display:block;
    clear:both;
    font-size:10px;
    font-weight:bold;
}
.qot-week blockquote, .qot-week blockquote cite, .qot-week blockquote cite small {
    padding:0;
    margin:0;
    font-style:normal;
}
.qot-week blockquote:before {
    content:'';
    content: none;
}
.qot-week h3 {
    font-family:"Roboto Slab";
    font-size:24px;
}
.qot-week h3:before {
    content:'\201C';
}
.qot-week h3:after {
    content:'\201D';
}
.qot-week h3:before, .qot-week h3:after {
    font-family:Times, serif;
    font-size:30px;
    margin:0 10px;
    font-weight:bold;
}
.qot-week cite {
    display:block;
    font-weight:500;
    margin-top:20px;
    font-family:"Open Sans", Arial, Helvetica, sans-serif;
    font-size:17px;
    color:#494949;
    margin-bottom:8px;
}
.qot-week cite:before {
    content:'\2014\0020';
}
/* Callout (Promo Box) */
 .callout {
    padding:34px 0;
    min-height:60px;
    margin:8px 10px 30px;
    position:relative;
    clear:both;
    border-width:1px 0;
    border-style:solid;
    border-color:#e5e5e5;
}
.callout h1, .callout h2, .callout h3 {
    font-weight:500;
}
.callout a {
    text-decoration:underline;
}
.callout a.callurl {
    display:block;
    padding:10px 30px;
    background:#0093d0;
    text-decoration:none;
    color:#fff;
    margin:4px 0 10px 15px;
    position:relative;
    float:right;
    border-radius:2px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition:all 0.2s ease;
}
.callout a.callurl:hover {
    background:#363f46;
    color:#fff;
}
.callout p {
    margin:0;
}
/* Distance (Vertical Spaces) */
 .vertical-space, .vertical-space1, .vertical-space2, .vertical-space3, .vertical-space4, .vertical-space5 {
    display:block;
    width:100%;
    margin:0;
    clear:both;
    border:0 none;
    height:20px;
}
.vertical-space2 {
    height:40px;
}
.vertical-space3 {
    height:60px;
}
.vertical-space4 {
    height:80px;
}
.vertical-space5 {
    height:100px;
}
*+html hr.vertical-space, *+html hr.vertical-space1, *+html hr .vertical-space2, *+html hr.vertical-space3, *+html hr.vertical-space4, *+html hr.vertical-space5 {
    height:0px;
    margin:10px 0;
    background:#fff;
    border:1px solid #fff;
}
*+html hr.vertical-space2 {
    margin:20px 0;
}
*+html hr.vertical-space3 {
    margin:30px 0;
}
*+html hr.vertical-space4 {
    margin:40px 0;
}
*+html hr.vertical-space5 {
    margin:50px 0;
}
.mex-title {
    border-bottom: 4px solid rgba(0, 0, 0, 0.08);
    display:inline-block;
    padding-bottom:20px;
    margin-bottom:20px;
}
/* HOME-CONTENT */
 .home-content img, .page-content img {
    height: auto;
    max-width: 100%;
}
.column.with-bg {
    background:#f3f9f2;
    margin-bottom:10px;
    border-top-right-radius:19px;
    padding-top:21px;
}
.with-bg p, .with-bg h3, .with-bg h2, .with-bg h4 {
    padding:0 10px;
}
.with-bg p img {
    float:right;
    margin:1px 8px;
}
.highlight1 {
    padding:2px 5px;
    background:#85bc36;
    color:#fff;
    vertical-align:baseline;
}
.highlight2 {
    padding:2px 5px;
    background:#f4f4f4;
    color:#666;
    vertical-align:baseline;
}
.highlight3 {
    padding:14px 7px;
    background:#fff;
    vertical-align:baseline;
    display:block;
    border-radius:3px;
    margin:7px 3px;
}
h4.subtitle {
    border-bottom: 1px solid #e5e5e5;
    letter-spacing:0em;
    font-weight:bold;
    text-transform:uppercase;
    margin:35px 0 21px 0;
    line-height:2;
    font-size:16px;
    padding-bottom:5px;
    clear:both;
}
h4.subtitle.boldbrdr {
    border-bottom-width:4px;
}
h4.subtitle img {
    float:left;
    margin-right:5px;
    vertical-align:baseline
}
h4.subtitle.r1dd {
    margin-top:20px;
}
.title {
    background:#fff url(../images/title-left1.png) repeat-x 0 6px;
    overflow:hidden;
    margin-bottom:21px;
    clear:both;
}
.title h4, .title h3 {
    background:#fff;
    display:inline;
    margin-left:18px;
    padding:0 3px;
    font-weight:500;
    text-transform:capitalize;
    font-size:18px;
}
ul.our-clients {
    display:block;
    margin-bottom:20px;
    box-shadow: 0px 2px 4px -3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.1);
}
ul.our-clients li {
    float:left;
    display: inline;
    width:177px;
    padding:12px;
    text-align:center;
    margin-right:20px;
}
ul.our-clients li:hover {
    background:#fdfdfd;
}
ul.our-clients:after {
    clear:both;
}
ul.our-clients img {
    max-width:100%;
}
.white-space {
    clear:both;
    width:100%;
    height:40px;
}
/* TESTIMONIALS */
 .testimonial {
    margin-bottom:94px;
    clear:both;
    min-width:220px;
}
.testimonial-content {
    padding:12px;
    position:relative;
    border:1px solid #f6f6f6;
    background:#f4f4f4;
    border-radius:4px;
}
.testimonial-content p {
    margin:6px;
}
.testimonial-content h4 {
    padding:10px;
    line-height:1.7;
    color:#595959;
    margin-top:7px;
    font-family:"Roboto Slab";
}
.testimonial-arrow {
    position:absolute;
    width:127px;
    height:14px;
    background:#fff url(../images/nav-bott1.png) no-repeat;
    left:50px;
    bottom:-14px;
}
.testimonial-brand {
    position:relative;
    margin:12px 16px 8px 0px;
}
.testimonial-brand img {
    width:90px;
    height:90px;
    border-radius:45px;
    float:left;
}
.testimonial-brand h5 {
    float:left;
    clear:right;
    margin:20px;
    color:#6f6f6f;
}
.testimonial-brand h5 strong {
    font-weight:600;
}
.testimonial-brand h5 em {
    font-size:14px;
    font-style:normal;
    font-family:Arial, Helvetica, sans-serif;
}
/* FOOTER */
 #footer {
    width:100%;
    padding:10px 0 0 0;
    background:#202020;
    border-top:5px solid #e5e5e5;
}
#footer.litex {
    background:#fafafa;
}
.footer-in {
    margin: 0 auto;
    padding-bottom:50px;
    color:#ccc;
    position:relative;
}
.footer-in .columns {
    margin-top:20px;
}
.footer-in h4 {
    color:#c4c6c8;
    border-bottom:4px solid #252627;
    padding-bottom:6px;
    margin:0;
    margin:39px 0 21px 0;
    font-size:13px;
    text-align:center;
}
.footer-in hr {
    border-color:#373737;
}
.footer-in .copyright-txt {
    font-size:12px;
}
.footer-in p {
    line-height:19px;
    color:#707679;
}
.contact2 div {
    line-height:21px;
}
.footer-in a {
    text-decoration:none;
}
.footer-sbc {
    position:relative;
    text-align:center;
    margin:0 auto;
}
.footer-sbc input[type="text"], .footer-sbc input[type="submit"] {
    float:left;
    margin:4px 7px;
}
/* Social Icons */
 .social-icons a {
    border:0;
    float:left;
    margin:1px 7px 0 12px;
    opacity: 0.5;
    text-decoration:none;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}
.social-icons a:hover {
    opacity: 1;
}
.social-icons.members {
    clear:both;
    text-align:center;
    margin-bottom:10px;
}
.social-icons.members a {
    text-align:center;
    float:none;
}
.footer-in a img {
    float:left;
    margin:3px 4px 0 1px;
}
.socailfollow a {
    width:18px;
    height:18px;
    padding:10px;
    float:left;
    margin:7px 5px 0;
    text-decoration:none;
    display:block;
    border-radius:2px;
    -webkit-transition: all 0.31s ease;
    -moz-transition: all 0.31s ease;
    -ms-transition: all 0.31s ease;
    -o-transition: all 0.31s ease;
    transition: all 0.31s ease;
}
.socailfollow a:first-of-type {
    margin-left:0;
}
.footer-in .socailfollow a:hover {
    text-decoration:none;
}
.socailfollow a.facebook:hover {
    background:#3b5996;
}
.top-bar .socailfollow a.facebook:hover i, .our-team .socailfollow a.facebook:hover i {
    color:#3b5996;
}
.socailfollow a.twitter:hover {
    background:#00acee;
}
.top-bar .socailfollow a.twitter:hover i, .our-team .socailfollow a.twitter:hover i {
    color:#00acee;
}
.socailfollow a.vimeo:hover {
    background:#0dadd6;
}
.top-bar .socailfollow a.vimeo:hover i, .our-team .socailfollow a.vimeo:hover i {
    color:#0dadd6;
}
.socailfollow a.dribble:hover {
    background:#d53e68;
}
.top-bar .socailfollow a.dribble:hover i, .our-team .socailfollow a.dribble:hover i {
    color:#d53e68;
}
.socailfollow a.youtube:hover {
    background:#cb322c;
}
.top-bar .socailfollow a.youtube:hover i, .our-team .socailfollow a.youtube:hover i {
    color:#cb322c;
}
.socailfollow a.pinterest:hover {
    background:#cb2027;
}
.top-bar .socailfollow a.pinterest:hover i, .our-team .socailfollow a.pinterest:hover i {
    color:#cb2027;
}
.socailfollow a.google:hover {
    background:#c3391c;
}
.top-bar .socailfollow a.google:hover i, .our-team .socailfollow a.google:hover i {
    color:#c3391c;
}
.socailfollow a.linkedin:hover {
    background:#0073b2;
}
.top-bar .socailfollow a.linkedin:hover i, .our-team .socailfollow a.linkedin:hover i {
    color:#0073b2;
}
.socailfollow a.rss:hover {
    background:#f29a1d;
}
.top-bar .socailfollow a.rss:hover i, .our-team .socailfollow a.rss:hover i {
    color:#f29a1d;
}
.socailfollow img {
    opacity:0.79;
}
.socailfollow i {
    font-size:18px;
    color:#fff;
    opacity:0.95;
}
#footer.litex .socailfollow i {
    color:#343434;
}
#footer.litex .socailfollow a:hover i {
    color:#fff;
}
.top-bar .socailfollow {
    float:right;
    margin-right:10px;
}
.top-bar .socailfollow.lftflot {
    float:left;
}
.top-bar .socailfollow img {
    opacity:0.97;
}
.top-bar .socailfollow a, .our-team .socailfollow a {
    padding:4px;
    margin:1px 4px;
    background:#fff;
}
.top-bar .socailfollow i, .our-team .socailfollow i {
    color:#979797;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.125s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.top-bar .socailfollow a:hover, .our-team .socailfollow a:hover {
    background:none;
}
.contact-inf {
    background:url(../images/world-map2.png) no-repeat center 20px;
}
.footer-in .contact-inf {
    background:url(../images/world-map.png) no-repeat center center;
}
.footer-in .contact-inf p {
    margin-bottom:10px;
}
.footer-in a:link, .footer-in a:visited {
    color:#afb4b7;
}
.footer-in a:hover {
    color:#909090;
    text-decoration:underline;
}
#footer.litex .footer-in a {
    color:#0093d0;
}
.footer-in a.terms {
    color:#578f1a;
}
.footer-in .lts-tweets {
    padding:12px;
    padding-top:34px;
    text-align:center;
    position:relative;
}
.footer-in .lts-tweets i {
    font-size:80px;
    color:#333;
    position:absolute;
    top:2px;
    left:40%;
    z-index:9;
}
.footer-in .lts-tweets h3 {
    z-index:12;
    position:relative;
}
.footer-in .lts-tweets h5 {
    color:#82878a;
    padding:0 10px;
    font-size:16px;
    font-weight:400;
    font-family:"Roboto Slab";
}
.flickr-feed {
    padding-left:10px;
    margin-bottom:14px;
}
.flickr-feed a {
    float:left;
    margin:0 1px 1px 0;
    opacity: 0.5;
    filter: alpha(opacity=50);
    -webkit-transition: opacity 0.31s ease;
    -moz-transition: opacity 0.31s ease;
    -ms-transition: opacity 0.31s ease;
    -o-transition: opacity 0.31s ease;
    transition: opacity 0.31s ease;
}
#footer.litex .flickr-feed a {
    opacity: 0.85;
    filter: alpha(opacity=85);
}
.flickr-feed a img {
    margin:0;
    width:82px;
    height:82px;
    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.7);
}
.flickr-feed a:hover, #footer.litex .flickr-feed a:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
.footbot {
    margin:0 auto;
    position:relative;
    height:38px;
    border-top:5px solid #252627;
    padding:26px 0 18px;
    text-align:right;
    border-top-right-radius:2px;
    border-top-left-radius:1px;
}
#footer.litex .footbot, #footer.litex .footer-in h4, #footer.litex .footer-in hr {
    border-color:#e0e0e0;
    color:#5b5b5b;
}
.footbot img {
    position:relative;
    margin:6px 40px 0 0;
    opacity:0.93;
}
.footer-navi {
    float:left;
    font-size:12px;
    color:#55595d;
    padding:3px 0 0 10px;
    text-transform:capitalize;
}
.footer-navi ul {
    margin-left:40px;
}
.footer-navi a {
    color:#a9b2b4;
    margin:0 4px;
}
.footer-navi a:hover {
    color:#ccc;
    text-decoration:underline;
}
/* #Page Styles
================================================== */
 .our-team {
    margin-bottom:20px;
    border-bottom:4px solid #e5e5e5;
}
.our-team .socailfollow {
    height:40px;
    clear:both;
    border-top:1px solid #e5e5e5;
    padding-top:11px;
}
.our-team img {
    border-bottom:5px solid #e5e5e5;
}
.our-skills p {
    margin-bottom:5px;
}
.team-member {
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.serv-big-pic img, .serv-sm-pic img {
    border:4px solid #c7d2d7;
    background:#dae3e7;
    padding:1px;
    max-width:100%;
    box-shadow: 0px 2px 4px -3px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 2px 5px -3px rgba(0, 0, 0, 0.4);
}
.serv-sm-pic img {
    background:rgba(0, 0, 0, 0.1);
    border:3px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 2px 4px -3px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 2px 5px -3px rgba(0, 0, 0, 0.7);
}
.contact-form {
    border:5px solid #e9e9e9;
    text-align:center;
    padding:20px;
    padding-bottom:0;
    border-radius:9px;
}
.contact-form h5 {
    text-align:left;
    padding-left:11px;
}
.contact-form .txbx {
    width:91%;
    height:36px;
    border-width:3px;
    border-radius:4px;
    float:none;
    margin:11px;
    padding-left:14px;
    font-size:16px;
}
.contact-form .txbx:focus {
    border-width:2px;
    border-radius:2px;
}
.contact-form .era {
    min-height:190px;
    max-height:300px;
    width:91%;
}
.contact-form .erabox {
    width:100%;
    height:100%;
    margin-left:-20px;
    margin-top:12px;
    padding:20px;
    background:#fff;
    border-top:5px solid #e9e9e9;
}
.contact-form .sendbtn {
    padding:10px 18px;
    font-size:14px;
}
#contact-map {
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1) inset;
    border:1px solid #d6dbdc;
    border-left:none;
    border-right:none;
    padding:0;
    margin:0
}
#contact-map iframe {
    width:100%;
    padding:0;
    margin:0;
    margin-bottom:-7px;
}
/* BLOG */
 .sidebar, .rgt-cntt {
    background:url(../images/brdr-line.png) repeat-y 15px;
}
.sidebar {
    padding-bottom:40px;
}
.sidebar.leftside {
    background-position: 245px;
    padding-right:60px;
}
.sidebar h4.subtitle {
    border:0 none;
    color:#54606b;
    margin-bottom:14px;
}
.sidebar p, .sidebar li {
    font-size:13px;
}
.sidebar input[type="text"] {
    width:100%;
    max-width:100%;
}
input[type="text"].search-side, input[type="text"].header-saerch {
    background:#fdfdfd url(../images/find-ico1.png) no-repeat right;
}
input[type="text"].header-saerch {
    float:right;
    margin:10px 0 0 0;
    border-radius:2px;
    padding:5px 28px 5px 8px;
    width:120px;
    min-height:18px;
    -webkit-transition: width 0.22s ease;
    -moz-transition: width 0.22s ease;
    -o-transition: width 0.22s ease;
    transition: width 0.22s ease;
}
input[type="text"].header-saerch:focus {
    width:160px;
}
#header input[type="text"].header-saerch {
    margin-top:20px;
}
#main-content-pin, #main-timeline {
    max-width:100%;
    background:url(../images/bgb1.png) fixed repeat;
    padding-top:30px;
}
#main-content-pin {
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.3) inset;
    -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3) inset;
}
#main-content-pin .container {
    width: auto;
}
#main-timeline {
    background:#fbfbfb;
    border-top:2px solid #f0f0f0;
}
#pin-content, #tline-content {
    width:auto;
    margin:0 auto;
    position:relative;
    overflow: hidden;
}
#tline-content {
    background:url(../images/tline-cnt-bg1.png) repeat-y center center;
    width:890px;
    margin:0 auto;
}
#tline-content p {
    margin-bottom:32px;
}
.pin-box, .tline-box {
    width:212px;
    width:210px\9;
    padding:12px;
    display:block;
    background:#fff;
    margin:10px;
    float:left;
    border:1px solid #efefef\9;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow:0 1px 5px rgba(0, 0, 0, 0.33);
}
.pin-box {
    border-radius:3px;
    overflow:hidden;
}
.pin-box .img-item, .pin-box iframe {
    max-width:236px;
    margin:-12px;
    margin-bottom:0;
}
.img-item img {
    margin-bottom:-6px;
}
.pin-box .zoomex {
    border-radius: 3px 3px 0 0;
}
.tline-box iframe, .tline-box img {
    max-width:100%;
    border-bottom:2px solid #e5e5e5;
}
.pin-box h4, .tline-box h4 {
    font-size:18px;
    font-weight:400;
    margin-top:8px;
    margin-bottom:10px;
}
.pin-box h4 {
    font-size:15px;
    margin-bottom:4px;
}
.pin-box h4 a, .tline-box h4 a {
    color:#434343;
}
.pin-box h4 a:hover, .tline-box h4 a:hover {
    color:#d11e25;
}
.pin-ecxt h6.blog-author, .tline-ecxt h6.blog-author, .tline-box h6 {
    font-size:12px;
    font-weight:600;
}
.pin-ecxt, .tline-ecxt {
    border-bottom:1px solid #efefef;
    padding:0 12px 8px;
    margin:0 -12px 8px -12px;
}
.pin-ecxt2 p, .pin-ecxt2 p small {
    font-size:12px;
    font-weight:bold;
    margin:0;
}
.pin-ecxt2 p {
    line-height:20px;
}
.pin-ecxt2 p small {
    color:#a2a2a2;
    display:block;
}
.pin-ecxt2 img {
    width:40px;
    height:40px;
    float:left;
    margin:0;
    margin-top:4px;
    margin-right:10px;
    border-radius:3px;
}
.tline-box {
    width:380px;
    padding:10px;
    padding-bottom:20px;
    margin-top:21px;
    min-height:160px;
    border-radius:3px;
    position:relative;
    border:1px solid #d7dce7;
    box-shadow:0 1px 3px -2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow:0 1px 6px -3px rgba(0, 0, 0, 0.3);
}
.tline-row-l, .tline-row-r {
    background:url(../images/tmln-ro-r1.png) no-repeat right 12%;
    width:46px;
    height:17px;
    margin-right:-44px;
    display:block;
    position:absolute;
    right:0;
    top:16px;
}
.tline-row-r {
    background:url(../images/tmln-ro-l1.png) no-repeat left 12%;
    left:0;
    margin:0;
    margin-left:-43px;
}
.tline-box.rgtline {
    float:right;
    margin-top:53px;
    right:0;
    clear: right;
}
.tline-box:hover {
    box-shadow:0 1px 6px -2px rgba(141, 161, 199, 0.9);
    -webkit-box-shadow:0 1px 11px -3px rgba(141, 161, 199, 0.9);
}
.tline-topdate {
    width:150px;
    height:26px;
    position:relative;
    display:block;
    clear:both;
    zoom:1;
    padding:4px;
    border:2px solid #e5e5e5;
    background:#fff;
    font-size:16px;
    text-align:center;
    font-weight:bold;
    line-height:26px;
    color:#aaa;
    margin:0 auto 7px;
    border-radius:2px;
    text-shadow: 0 1px 1px #fff;
}
.tline-topdate.enddte {
    bottom:0;
    margin-bottom:0;
}
.blog-post {
    padding-bottom:21px;
    border-bottom:1px solid #e5e5e5;
    margin-bottom:35px;
}
.blog-post h3, .blog-post h5, .blog-single-post h3, .blog-single-post h1 {
    font-weight:400;
    line-height:1.3;
    font-family:"Roboto Slab";
}
.blog-post h5 {
    margin-top:-8px;
}
.blog-post h3 a, .blog-post h5 a {
    color: #444;
    -webkit-transition: color 0.18s ease;
    -moz-transition: color 0.18s ease;
    -o-transition: color 0.18s ease;
    transition: color 0.18s ease;
}
.blog-post h3 a:hover, .blog-post h5 a:hover {
    color:#f1592a;
}
.blog-post h6 {
    display:inline;
    margin-right:6px;
}
.blog-single-post h1 {
    font-size:44px;
    line-height:54px;
    font-weight:400;
}
.postmetadata {
    display:block;
    margin-bottom:14px;
}
ul.share-btns {
    display:block;
    float:right;
}
ul.share-btns li {
    float:left;
    margin:14px 16px 0 0;
}
.blog-single-post {
    text-align:left;
}
.blog-single-post p {
    font-size:15px;
    line-height:23px;
    color:#555;
}
.blog-post p {
    text-align:left;
}
.blog-post img, .blog-post iframe, .blog-single-post img, .blog-single-post iframe {
    max-width:100%;
    border-radius:1px;
    border-bottom:2px solid #e5e5e5;
    margin-bottom:14px;
}
.blog-post iframe, .blog-single-post iframe {
    width:100%;
}
.blog-q {
    border-left:1px solid #d8d8d8;
    padding-left:12px;
}
.blog-q em {
    color:#a5adae;
}
p.blog-inpic {
    margin-top:21px;
}
p.blog-inpic img {
    float:left;
    border:1px solid #c9c9c9;
    background:#f9f9f9;
    width:280px;
    max-width:100%;
    padding:6px;
    margin:0 14px 14px 0;
}
.date-sp-wrap {
    max-width:100px;
    margin:0 10px;
    float:left;
}
.blog-date-sp, .blog-com-sp {
    height:40px;
    padding:6px;
    padding-bottom:20px;
    width:90px;
    float:right;
    border-top-left-radius:6px;
    color:#fff;
    background:#636e75 url(../images/blg-date-botpic1.html) no-repeat bottom right;
    font-weight:bold;
    font-family:Arial, sans-serif;
}
.blog-date-sp h3 {
    width:30px;
    float:left;
    margin:1px 5px;
    color:#0093d0;
}
.blog-date-sp span {
    float:right;
    margin:5px;
    margin-right:12px;
    color:#a2aab0;
    font-size:12px;
    line-height:1.2;
}
.blog-com-sp {
    background:none;
    color:#95a2aa;
    padding:0 6px 8px;
    margin-top:-12px;
    text-align:center;
    font-size:12px;
    height:16px;
    border-radius:0px;
    border-bottom-left-radius:11px;
}
.blog-com-sp a {
    color:#95a2aa;
}
.pin-box .blog-date-sp, .pin-box .blog-com-sp, .tline-box .blog-date-sp, .tline-box .blog-com-sp {
    position:relative;
    bottom:0;
    margin:-12px;
    margin-top:7px;
    width:50%;
    border:0;
    border-radius:0;
    background:#ebebeb;
    padding:0;
}
.pin-box .blog-com-sp, .tline-box .blog-com-sp {
    float:left;
    height:28px;
    padding:12px 23px 0 0;
}
.pin-box .blog-date-sp h3, .tline-box .blog-date-sp h3 {
    margin-left:12px;
    text-shadow:0 0 1px rgba(0, 0, 0, 0.1);
}
.tline-box .blog-date-sp, .tline-box .blog-com-sp {
    background:#e9e9e9;
    width:49%;
    margin:-10px;
    margin-bottom:0;
}
h6.blog-date, h6.blog-cat {
    color:#69ba45;
}
h6.blog-author {
    color:#a0a0a0;
    font-weight:400;
}
.blog-single-post h6.blog-author {
    letter-spacing:0.2em;
}
.tline-box h6.blog-cat {
    font-size:13px;
    color:#888;
    padding-bottom:7px;
    border-bottom:2px solid #e5e5e5;
    font-weight:500;
    margin-bottom:8px;
}
.tline-box h6.blog-cat strong {
    font-weight:700;
}
.tline-box h4 {
    font-size:21px;
}
.tagcloud a:link, .tagcloud a:visited {
    line-height:16px;
    padding:4px 10px;
    font-size:12px;
    margin:0 4px 4px 0;
    float:left;
    min-width:18px;
    border-radius:2px;
    width:auto;
    background:#f2f2f2;
    color:#797979;
    display:block;
    text-decoration:none;
}
.tagcloud a:hover {
    color:#333;
    background-color:#ffcc00;
}
.blog-date-sec {
    padding:4px;
    padding-bottom:12px;
    color:#444;
    border:1px solid #e5e5e5;
    border-top-width:9px;
    border-radius:2px;
    text-align:center;
}
.blog-date-sec h3 {
    line-height:1.4;
    margin:0;
    font-size:30px;
    font-weight:400;
    letter-spacing:-0.07em;
}
.blog-date-sec span {
    display:block;
    font-size:13px;
    text-transform:uppercase;
}
.latest-f-blog {
    margin:0 10px;
}
.latest-f-blog .blog-post {
    border-bottom:0 none;
    margin-bottom:10px;
    padding-bottom:5px;
}
.latest-f-blog .blog-post p {
    text-transform:uppercase;
}
a.readmore {
    position:relative;
    margin:4px 0 3px 1px;
    -webkit-transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -ms-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
    transition: all 0.17s ease-in-out;
    background:#0093d0
    /*url(../images/rowp3.png) no-repeat 96% 59% */
    ;
    padding:6px 32px 6px 22px;
    border-radius:2px;
    color:#fff;
    box-shadow: 0 0 0 0;
    font-size:12px;
    text-transform:capitalize;
}
a.readmore:after, a.magicmore:after, #nav li.submenu:after {
    position:absolute;
    right:10px;
    top:9px;
    font-family:'icomoon';
    font-size:11px;
    color:#fff;
    content:"\e3c2";
    speak: none;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
a.readmore:hover {
    background-color:#363f46;
}
a.readmore:active {
    background-color:#fafafa;
    color:#999;
}
a.magicmore {
    position:relative;
    padding:3px 12px 2px 0;
    color:#0093d0;
    -webkit-transition: all 0.18s ease;
    -moz-transition: all 0.18s ease;
    -ms-transition: all 0.18s ease;
    -o-transition: all 0.18s ease;
    transition: all 0.18s ease;
}
a.magicmore:hover {
    color:#ffa02f;
    background-position: 100% 69%;
}
a.magicmore:after {
    content:"\e3b0";
    color:inherit;
    top:8px;
    right:1px;
    font-size:8px;
}
a.magicmore:hover:after {
    right:0;
}
#nav li.submenu:after {
    content:"\e3b0";
    color:#cdcdcd;
    font-size:8px;
    top:13px;
    cursor:pointer;
}
.row.magic {
    padding-left:40px;
}
.columns.magic {
    padding-left:20px;
}
.magic-link {
    clear:both;
}
.magic-link a {
    display: inline-block;
    font-size:13px;
    width:auto;
    color: #fff;
    text-shadow: 1px 1px 0 #eb8710;
    border-radius:15px;
    padding:3px 22px 3px 16px;
    text-transform:capitalize;
    background:#ffa02f url(../images/rowp3.png) no-repeat right;
    background-position: 97% 52%;
    -webkit-transition: padding 0.2s ease, background 0.16s ease;
    -moz-transition: background 0.16s ease;
    -ms-transition: background 0.16s ease;
    -o-transition: background 0.16s ease;
    transition: background 0.16s ease;
    text-align:center;
}
.magic-link a.get {
    padding:7px 26px 7px 20px;
    background-color:#7ebd22;
    border-radius:5px;
    text-shadow: 1px 1px 0 #649b19;
    text-transform:uppercase;
}
.magic-link a.get.shadow1 {
    box-shadow: 0px 0px 5px #fff inset, 0 2px 3px -1px #74ad20;
    -webkit-box-shadow: 0px 0px 7px #fff inset, 0 2px 5px -1px #74ad20;
}
.magic-link a:hover {
    background-color:#4c4665;
    background-position: center right;
    text-shadow: 1px 1px 0 #666;
}
/* COMMENT */
 .commentbox {
    min-height:156px;
    border-radius:6px;
    text-align:left;
    margin:12px 0;
}
#commentform {
    padding-top:12px;
    border-top:1px dotted #d3d3d3;
}
#commentform label {
    font-size:17px;
    font-weight:300;
    display:inline;
}
#commentform .required {
    margin-left:3px;
}
/* comments list */
 ol.commentlist {
    padding: 0;
    margin-left:0;
    background: #fff;
    border-top: 1px solid #e5e8ec;
}
.commentlist li {
    list-style: none;
    margin: 0;
    padding: 12px 0 0 0;
    border: 1px solid #e5e8ec;
    border-width: 0 0px 1px 0px;
    overflow: hidden;
}
.commentlist li a:link, .commentlist li a:visited {
    color: #227bad;
}
.commentlist li .comment-info {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.commentlist li .comment-info img {
    float: left;
    margin: 1px 11px 4px;
    background: #fff;
    border: 1px solid #e8eaec;
    display: inline;
}
.commentlist li .comment-info cite {
    display: block;
    font-family: Arial;
    font-size:13px;
    line-height:17px;
    text-transform:capitalize;
    margin: 0;
    padding: 5px 65px 5px 20px;
    font-style: normal;
    font-weight: bold;
}
.commentlist li .comment-info cite .comment-data {
    font-size: 11px;
    font-weight: normal;
}
.commentlist li .comment-text {
    clear: both;
    margin: 0;
    padding: 0 20px 25px 20px;
}
.commentlist li .comment-text p {
    margin: 5px 0 20px 0;
    padding: 0;
}
.commentlist li .comment-text .reply a {
    padding: 4px 8px;
    border-radius:1px;
    background-color: #f0f0f0;
    font-size: 13px;
    color: #444;
}
.commentlist li .comment-text .reply a:hover {
    background-color:#a0c14d;
    border-color:#48a648;
    color: #fff;
}
.commentlist li ul.children {
    margin:0;
    padding: 0;
}
.commentlist li ul.children li.depth-2, .commentlist li ul.children li.depth-3 {
    margin-left: 40px;
    border-style: solid;
    border-color: #e1e6e8;
    border-width: 1px 0 0 1px;
}
.commentlist li.thread-alt {
    background: #fdfdfd;
    border-color: #E2E4E7;
}
.commentbox h3 {
    margin-top:14px;
}
.comment-form-comment textarea {
    width:98%;
}
.form-allowed-tags {
    font-size:11px;
    padding:6px;
    background:#f3f3f3;
}
/* LIST */
 .listbox1 {
    height:auto;
    padding:0px;
    text-align:left;
}
.listbox1 ul, .listbox1 ul li {
    margin:0;
    padding:0;
    list-style:none;
}
.listbox1 ul {
    margin-bottom:10px;
}
.listbox1 ul li {
    border-bottom:1px dotted #e3e3e3;
}
.listbox1 ul li a {
    text-decoration:none;
    color:#95a3a6;
    background:#fff;
    display:block;
    padding:7px 0 7px 4px;
}
.listbox1 ul li a:hover {
    background-color:#f9f9f9;
    color:#5d6f74;
}
.listbox1 ul li span {
    float:right;
    font-size:10px;
}
#sidebar .listbox1 ul li a, #sidebar2 .listbox1 ul li a {
    background:url(../images/rowp7.png) no-repeat left center;
    padding-left:12px;
}
#sidebar .listbox1 ul li a:hover, #sidebar2 .listbox1 ul li a:hover, #leftside .listbox1 ul li a:hover {
    background-color:#fdfdfd;
    color:#5d6f74;
}
a.show-all {
    width: 86px;
    height: 20px;
    background:#efefef;
    padding:0;
    margin: 7px;
    line-height:19px;
    text-align:center;
    color:#666;
    font-size:12px;
    float: left;
    border: 1px solid #f0f0f0;
    border-bottom:2px solid #dddada;
    text-decoration:none;
    border-radius:2px;
}
a.show-all:hover {
    background:#cde985;
    border-color:#bfdf6c;
    color:#333;
}
a.show-all:active {
    background:#ffe483;
    border-color:#f7d96c;
    color:#b29839;
}
/* PRICING-TABLE */
 .pricing-table2 {
    text-align: center;
    border-radius: 5px;
    margin-bottom: 21px;
    border:1px solid #e5e5e5;
}
.pricing-table2 .price-header, .pricing-table2 .price-footer {
    background: #fbfbfb;
    border-radius: 5px 5px 0 0;
}
.pricing-table2 .price-footer {
    padding-top:20px;
    padding-bottom:20px;
    border-top: 1px solid #e5e5e5;
    border-radius: 0 0 5px 5px;
}
.pricing-table2 .price-footer a {
    margin-bottom:0px;
}
.pricing-table2 .price-header {
    border-bottom: 1px solid #e5e5e5;
}
.pricing-table2 ul.features {
    padding: 11px 16px;
}
.pricing-table2 ul.features li {
    border-top: 1px dashed #e3e3e3;
    padding-top:12px;
    font-family:Arial, sans-serif;
}
.pricing-table2 ul.features li:nth-child(1) {
    border: none;
}
.pricing-table2 .plan-title {
    text-transform:capitalize;
    font-family:"Open Sans";
    font-weight:600;
    font-size: 14px;
    line-height: 36px;
    background-color: #465155;
    border-radius: 5px 5px 0 0;
    padding: 9px 15px;
    margin: 0 -1px;
    color:#fff;
}
.pricing-table2 .plan-price {
    line-height: normal;
    background: #fafafa;
    padding: 12px 15px;
    margin: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.pricing-table2 .plan-price span {
    font-weight: 700;
    font-size: 34px;
    color: #465155;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
}
.pricing-table2.featured .plan-title, .pricing-table2.featured .plan-price span, .pricing-table2.featured .plan-price small {
    color: #fff;
}
.plan-price small {
    font-size:14px;
    font-weight:400;
}
.pricing-table2.featured .plan-title {
    line-height: 46px;
    background-color:#e53f51;
    font-size: 14px;
}
.pricing-table2.featured .plan-price {
    border-top: 1px solid #d63243;
    background:#f45365;
    padding:15px;
}
.pricing-table2.featured .plan-price span {
    font-size: 42px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
/* ICON BOX */
 .icon-box {
    vertical-align:baseline;
    margin-bottom:30px;
}
.icon-box img, .icon-box5 img, .icon-box i {
    float:left;
    display:block;
    vertical-align:text-top;
    margin:-1px 20px 95px 0;
}
.icon-box5 img {
    margin:0 12px 0 0;
}
.icon-box5 i, .icon-box i {
    font-size:32px;
    color:#484b4d;
    float:left;
    margin-right:10px;
    cursor:default;
}
.icon-box i {
    margin-right:20px;
}
.icon-box h5 {
    margin-bottom:10px;
    line-height:1;
}
.icon-box p {
    margin-bottom:12px;
}
.icon-box5 p {
    margin-top:4px;
    margin-right:20px;
    margin-bottom:10px;
}
.icon-box2 {
    vertical-align:baseline;
    text-align:center;
    border-radius:5px;
    padding:10px 0;
    -webkit-transition:background .3s ease-in-out;
    -moz-transition:background .3s ease-in-out;
    -ms-transition:background .3s ease-in-out;
    -o-transition:background .3s ease-in-out;
    transition:background .3s ease-in-out;
}
.icon-box2:hover {
    background-color:#fafafa;
    cursor:default;
}
.icon-box3 i, .icon-box4 i {
    font-size:48px;
    color:#666e74;
    margin-bottom:10px;
    display:inline-block;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -ms-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}
.icon-box3:hover i {
    color:#0093d0;
    cursor:default;
}
.icon-box3 h5, .icon-box4 h5 {
    margin-bottom:4px;
    color:#666e74;
    font-size:16px;
    letter-spacing: 0.25px;
}
.icon-box3 h5 strong, .icon-box4 h5 strong {
    font-weight:bold;
}
.icon-box3 p {
    line-height:21px;
    margin-right:10px;
}
.icon-colorx i, i.icon-colorx {
    color:#e53f51;
}
.icon-box4 {
    text-align:center;
    margin-bottom:20px;
}
.icon-box4 i {
    padding:30px;
    font-size:32px;
    background:#f2f2f2;
    border-radius:50%;
    margin-bottom:24px;
    cursor:default;
}
.icon-box4 p {
    margin:0 10px 30px;
}
.icon-box4:hover i {
    color:#fff;
    background:#0093d0;
}
.icon-box6 {
    position:relative;
    background-color:#fff;
    border:1px solid #e5e5e5;
    border-radius:3px;
    padding:36px 20px 28px;
    text-shadow:0 0 0 0;
    margin:40px 0 20px;
}
.icon-box6 * {
    text-shadow:none;
}
.icon-box6 i {
    font-size:24px;
    padding:15px 16px 17px;
    background:#e53f51;
    color:#fff;
    position:absolute;
    top:-30px;
    left:50%;
    margin-left:-27px;
    border-radius:30px;
    cursor:default;
}
.icon-box6 h4, .blox .icon-box6 h4, .blox.dark .icon-box6 h4 {
    color:#363636;
    font-weight:400;
}
.icon-box6 p, .blox .icon-box6 p, .blox.dark .icon-box6 p {
    color:#818181;
    margin-bottom:12px;
}
.mexibox {
    padding:0px 0 10px 0;
}
.mexibox i {
    display:block;
    text-align:center;
    padding:40px 0;
    border-radius:2px;
    background:#f7f7f7;
    font-size:64px;
    line-height:1;
    margin-bottom:20px;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -ms-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}
.mexibox:hover i {
    background:#0093d0;
    color:#fff;
    cursor:default;
}
/* PORTFOLIO */
 .portfolio h4, .recent-works-items h4 {
    font-weight:400;
    margin:10px 0 7px;
    font-size:18px;
}
.portfolio h4 a, .recent-works-items h4 a {
    color:#494949;
}
.portfolio h4 a:hover, .recent-works-items h4 a:hover {
    text-decoration:underline;
}
.portfolio p, .recent-works-items p {
    color:#909090;
    margin-bottom:40px;
    padding-bottom:20px;
    border-bottom:4px solid #ededed;
    text-transform:uppercase;
}
.portfolio-item h3 {
    color:#696969;
}
.portfolio-item h5 {
    margin-top:8px;
}
.img-item {
    position:relative;
    overflow:hidden;
}
.zoomex {
    width: 100%;
    background:rgba(0, 0, 0, .35) url(../images/fancy-big-ico.png) no-repeat center;
    opacity:0;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -ms-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
    color: transparent;
    display: block;
    left: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    bottom:0;
}
.img-item:hover .zoomex {
    opacity:1;
}
.Single-Item:hover .prt-img-hov-bg, .prettyPhoto:hover .zoomex {
    opacity:1;
    filter: alpha(opacity=100);
}
#Iframe-Item .zoomex {
    background:rgba(0, 0, 0, .5) url(../images/fancy-big-ico2.png) no-repeat center;
}
#Iframe-Item:hover .zoomex {
    opacity:1;
}
.portfolio .eight.columns h4 {
    font-size:21px;
    margin:16px 0 10px;
}
.portfolio .four.columns h4 {
    font-size:16px;
}
.portfolio .four.columns p {
    font-size:12px;
    border-bottom-width:3px;
}
.col2-item img {
    width:420px;
    height:150px;
    margin-bottom:10px;
}
.col2-item .prt-img-hov-bg {
    bottom:114px;
}
.proj-det {
    padding-left:10px;
}
.recent-works-items h4 {
    font-size:20px;
}
.recent-works-items p {
    border:0 none;
    padding-bottom:2px;
}
/* #Misc
================================================== */

/* ISOTOPE */
 .portfolio {
    display:block;
    padding-bottom:20px;
    margin-bottom:20px;
}
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope, .isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}
nav.primary {
    margin:20px 10px 30px;
    border-bottom:3px solid #ededed;
}
nav.primary ul {
    list-style:none;
    border-bottom:3px solid #ededed;
    display:block;
    float:left;
    padding:0 20px;
    margin:0;
    margin-bottom:-3px;
}
nav.primary ul li {
    margin:0;
    margin-bottom:-3px;
    margin-right:-3px;
    float:left;
    color:#666;
}
nav.primary ul li a {
    height:18px;
    min-width:20px;
    padding:10px 20px;
    display:block;
    border:3px solid #ededed;
    background:#fafafa;
    font-family:Arial, sans-serif;
    font-weight:bold;
    font-size:12px;
    text-decoration:none;
    color:#777;
    line-height:19px;
    float:left;
    -webkit-transition:all .23s ease-in-out;
    -moz-transition:all .23s ease-in-out;
    -ms-transition:all .23s ease-in-out;
    -o-transition:all .23s ease-in-out;
    transition:all .23s ease-in-out;
}
nav.primary ul li a:hover {
    color:#333;
    background:#ffcc00;
    display:block;
}
nav.primary ul li a:active, nav.primary ul li a.selected {
    border-bottom-color:#fff;
    padding-top:18px;
    margin-top:-8px;
    background:#fff;
}
/*	ACCORDION */
 .acc-trigger {
    border-top: 3px solid #f3f2f2;
    cursor: pointer;
    display: block;
    margin: 0;
}
.acc-trigger:last-of-type, .acc-container:last-of-type {
    border-bottom: 3px solid #f3f2f2;
    margin-bottom: 20px;
}
.no-js .acc-trigger:last-of-type {
    border-bottom: none;
}
.acc-trigger a {
    background: url(../images/accordion-ico.png) no-repeat 6px 18px;
    display: block;
    color:#656f78;
    padding: 19px 14px 16px 40px;
    text-decoration: none;
    text-shadow: none;
    font-weight:bold;
    font-size:16px;
}
.acc-trigger a:hover {
    background-color: #fbfbfb;
}
.acc-trigger a:hover, .acc-trigger.active a, .acc-trigger.active a:hover {
    color: #0093d0;
}
.acc-trigger.active a:hover {
    background-color: transparent;
}
.acc-trigger.active {
    cursor: default;
    border-top-color:#b0afaf;
    background-color:#fff;
}
.acc-trigger.active:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
}
.acc-trigger.active a {
    background-position: 6px -54px;
    cursor: default;
}
.acc-container .content {
    padding: 0 14px 21px 40px;
}
/*	jCarousel */
 .jcarousel-container {
    max-width: 100%;
    padding:0;
    display:block;
    position:relative;
}
.jcarousel-clip {
    position:relative;
    overflow: hidden;
    width: 100%;
}
ul.jcarousel-list {
    overflow: hidden;
    position: relative;
    top: 0px;
    margin: 0px;
    padding: 0px;
    left: 0px;
}
ul.jcarousel-list li {
    float:left;
    list-style:none;
}
ul.jcarousel-list li img {
    max-width:100%;
}
.jcarousel-item {
    display:block;
}
.jcarousel-next, .jcarousel-prev {
    background-color:#818c90;
    width: 12px;
    height: 13px;
    padding:5px;
    border-radius: 0 2px 2px 0;
    position: absolute;
    right: 0;
    top: -49px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition:all 0.2s ease;
}
.jcarousel-prev {
    right: 23px;
    border-radius: 2px 0 0 2px;
}
.jcarousel-next:after, .jcarousel-prev:after {
    position:absolute;
    top:6px;
    right:6px;
    font-family:'icomoon';
    font-size:10px;
    color:#fff;
    content:"\e3b0";
    speak: none;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.jcarousel-prev:after {
    content:"\e3b2";
}
.jcarousel-next:hover, .jcarousel-next:active, .jcarousel-prev:hover, .jcarousel-prev:active {
    background-color: #ff9900;
}
.jcarousel-next-disabled, .jcarousel-next-disabled:hover, .jcarousel-prev-disabled, .jcarousel-prev-disabled:hover {
    background-color: #e5e8ea;
    cursor: auto;
    border-bottom-color:#e0e0e0;
}
.related-works .jcarousel-next, .related-works .jcarousel-prev {
    margin-right:10px;
}
.related-works p {
    text-transform:uppercase;
    font-size:12px;
}
/* EXTRAS */
 .brdr-r1, .brdr-r2 {
    border-right:1px solid #e5e5e5;
    padding-right:19px;
}
.brdr-l1, .brdr-l2 {
    border-left:1px solid #e5e5e5;
    padding-left:19px;
}
.brdr-r2 {
    padding-right:27px;
}
.brdr-l2 {
    padding-left:27px;
}
.pad-r27 {
    padding-right:27px;
}
.pad-l27 {
    padding-left:27px;
}
.alignright {
    text-align:right;
}
img.alignright {
    float:right;
}
.alignleft {
    text-align:left;
}
img.alignleft {
    float:left;
}
.aligncenter {
    text-align:center;
}
.wp-caption {
    display:block;
    color:#444;
}
.wp-caption-text {
    font-size:15px;
}
.sticky {
    color:#555;
}
.gallery-caption {
    display:inline;
}
.bypostauthor {
    font-size:13px;
}
.moonicons-box1 {
    font-size: 16px;
    display: inline-block;
    width: 15em;
    padding: .25em .5em;
    background: #fff;
    margin: .5em 1em .5em 0;
    border:1px solid #e8e8e8;
}
/* Scroll to top */
 #scroll-top a {
    width:16px;
    height:16px;
    padding:6px 8px 9px;
    border-radius:4px;
    background:#818c90;
    position:fixed;
    bottom:48px;
    right:32px;
    display:none;
    opacity: 0.89;
    filter: alpha(opacity=89);
    z-index:499841;
}
#scroll-top a i {
    font-size:16px;
    color:#fff;
}
#scroll-top a:hover {
    background-color:#ffcc00;
    cursor:pointer;
}
h1.pnf404 {
    font-size: 176px;
    line-height: 1.1;
    font-weight:900;
}
h2.pnf404 {
    font-size: 42px;
    line-height: 1.2;
    font-weight:700;
}
input.txbx404 {
    float:left;
    margin-top:2px;
    margin-right:4px;
    padding:7px 4px;
    min-height:inherit;
    border-radius:3px;
}
input.btn404 {
    float:left;
    margin:1px;
    padding:8px 12px 9px;
}
.v-shadow-l {
    background:url(../images/v-shadow-left.png) no-repeat right center;
}
.v-shadow-r {
    background:url(../images/v-shadow-right.png) no-repeat left center;
}
.v-shadow-r, .v-shadow-l {
    min-height:320px;
}
.pad-r10 {
    padding-right:10px;
}
.pad-r20 {
    padding-right:20px;
}
.pad-r30 {
    padding-right:30px;
}
.pad-r40 {
    padding-right:40px;
}
.pad-l10 {
    padding-left:10px;
}
.pad-l20 {
    padding-left:20px;
}
.pad-l30 {
    padding-left:30px;
}
.pad-l40 {
    padding-left:40px;
}
/* #Column Shortcodes
----------- */
 .one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth {
    margin-right: 4%;
    float: left;
    margin-bottom:20px;
}
.one_half {
    width: 48%;
}
.one_third {
    width: 30.6666%;
}
.two_third {
    width: 65.3332%;
}
.one_fourth {
    width: 22%;
}
.three_fourth {
    width: 74%;
}
.one_fifth {
    width: 16.8%;
}
.two_fifth {
    width: 37.6%;
}
.column-last {
    margin-right: 0 !important;
    clear: right;
}
.easyPieChart {
    position: relative;
    text-align: center;
}
.easyPieChart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.pie {
    text-align:center;
    font-size:49px;
    position:relative;
    margin:0 auto 20px;
}
.pie p {
    font-size:12px;
    position:absolute;
    margin:0;
    bottom:-40px;
    width:100%;
}
/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
 @media only screen and (max-width: 959px) {
    .row.magic, .s-qoute-man {
        padding:0;
        margin-bottom:10px;
    }
    .super div {
        max-width:100%;
    }
    a.get {
        margin-bottom:14px;
    }
    .pad-r10, .pad-r20, .pad-r30, .pad-r40 {
        padding-right:5px;
    }
    .pad-l10, .pad-l20, .pad-l30, .pad-l40 {
        padding-left:5px;
    }
    .jcarousel-item, .related-works .portfolio-item {
        margin:0 10px;
    }
    .related-works {
        padding-bottom:20px;
    }
    .jcarousel-next, .jcarousel-prev {
        top:-70px;
    }
    #main-content-pin .container {
        width:auto;
    }
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
 @media only screen and (min-width: 768px) and (max-width: 959px) {
    #boxed-wrap {
        width:828px;
    }
    .jcarousel-item, .related-works .portfolio-item {
        max-width:172px;
    }
    .home-content {
        margin-top:21px;
    }
    .social-icons a {
        margin:1px 4px 0 4px;
    }
    .row.magic {
        padding-left:20px;
        margin-bottom:10px;
    }
    .service-steps {
        margin-left:-130px;
    }
    #tline-content {
        width:800px;
    }
    .tline-box {
        width:335px;
    }
    .blog-date-sec span, .blog-date-sec h3 {
        font-size:70%;
    }
    #nav a span, #nav a:after {
        font-size:9px;
    }
    #nav li {
        margin:0;
        padding:0 4px;
    }
    .sidebar.leftside {
        padding-right:40px;
        background-position:185px;
    }
}
/* All Mobile Sizes (devices and browser) */
 @media only screen and (max-width: 767px) {
    .sidebar, .rgt-cntt, .sidebar.leftside {
        padding-right:0;
        background:none;
    }
    .contact-form .txbx {
        width:224px;
    }
    .pricing-table .plans-f-list.respo {
        display:inline;
        visibility:visible;
    }
    #headline {
        height:auto;
        border-bottom:3px solid #f3f3f3;
        padding:14px 0;
    }
    #headline h3 {
        border-top-color:#f6f6f6;
    }
    #headline h3 small {
        display:block;
        margin-top:14px;
        margin-bottom:0;
        font-size:16px;
        letter-spacing:0;
        font-weight:400;
    }
    .servobx, .servobx div, .servobx img, ul#main-ibox li, ul#main-ibox li.active9 {
        width:100%;
        float:none;
    }
    #search-form {
        display:none;
    }
    #search-form2 {
        display:block;
    }
    #side-content {
        padding-bottom:30px;
        border-bottom:5px solid #f3f3f3;
        margin-bottom:40px;
    }
    .container hr {
        margin-left:0;
        margin-right:0;
    }
    /* nav-wrap */
    #nav-wrap {
        position: relative;
        height:30px;
        text-align:center;
        margin:0 0 32px 0;
    }
    /* menu icon */
    #menu-icon {
        color: rgba(255, 255, 255, 0.7);
        margin:0 auto;
        width: 246px;
        font-size:16px;
        font-weight:400;
        height: 30px;
        border-radius:2px;
        background: #363f46
        /* url(../images/menu-icon.png) no-repeat 10px center*/
        ;
        padding: 8px 10px 0 42px;
        cursor: pointer;
        clear:both;
        box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3);
        text-align:left;
        display: block;
        /* how menu icon */
    }
    #menu-icon i {
        font-size:16px;
        color:rgba(0, 0, 0, 0.6);
        float:left;
        margin-left:-28px;
        margin-top:3px;
    }
    #menu-icon:hover, #menu-icon.active {
        background-color: #0093d0;
    }
    .mn-clk {
        font-size:12px;
        color:rgba(255, 255, 255, 0.5);
    }
    /* main nav */
    #nav {
        clear: both;
        margin:0 auto;
        background:#fff;
        left:1px;
        position: absolute;
        width: 278px;
        z-index: 10000;
        padding:2px 12px 44px 6px;
        border: 1px solid #d2d2d2;
        border-top:0 none;
        display: none;
        /* visibility will be toggled with jquery */
    }
    #nav li, .nav-wrap2 #nav li, .nav-wrap2.mn4 #nav li, .nav-wrap2.mn4.darknavi #nav li {
        clear: both;
        float: none;
        border:0 none;
        margin-left:10px;
        padding:10px 1px 7px;
        border-bottom:1px solid #e5e5e5;
    }
    #nav a, #nav ul a, .nav-wrap2 #nav a, .nav-wrap2.darknavi #nav a, .nav-wrap2.mn4 #nav a {
        width:auto;
        height:20px;
        display:block;
        text-align:left;
        border:0 none;
        padding:2px 3px;
        margin:0;
        line-height:1.2;
    }
    .nav-wrap2.darknavi #nav li a {
        color:#595959;
    }
    .nav-wrap2.mn4 #nav ul li, .nav-wrap2.mn4.darknavi #nav ul li {
        padding:0;
    }
    #nav li ul {
        display:none;
    }
    #nav a:hover > #nav li ul {
        display:block;
    }
    #nav a.drp-aro {
        padding:0;
    }
    #nav a:hover, #nav ul li, .nav-wrap2 #nav ul li, .nav-wrap2.darknavi #nav ul li, .nav-wrap2.mn4 #nav ul li, .nav-wrap2.mn4.darknavi #nav ul li {
        border:0 none;
    }
    .nav-wrap2.mn4 #nav li:last-of-type, .nav-wrap2.mn4.darknavi #nav li:last-of-type {
        border-right:0 none;
    }
    #nav a span, #nav a:after {
        display:none;
        visibility:hidden;
    }
    /* dropdown */
    #nav ul {
        width: auto;
        margin:0;
        box-shadow: none;
        position: static;
        display: block;
        border: none;
    }
    #nav ul li ul {
        margin:0;
        display: block;
        width: auto;
        padding-left:20px;
    }
    #nav:not(:target) > a:first-of-type, #nav:target > a:last-of-type {
        display: block;
    }
    #nav li.submenu:after {
        content:"\e3b1";
    }
    .nav-wrap2, .nav-wrap2.darknavi {
        border:0 none;
        box-shadow:0 0 0 0;
        background:none;
    }
    .top-bar {
        height:auto;
        padding:5px 0 6px;
        background:url(../images/topsobg1.png) repeat-x center center;
    }
    .top-bar .socailfollow, .top-links, .top-links.rgtflot, .top-bar .socailfollow.lftflot {
        float:none;
        text-align:center;
        clear:both;
    }
    .top-bar .socailfollow, .top-bar .socailfollow.lftflot {
        padding-top:8px;
    }
    .top-bar .socailfollow a, .top-bar .socailfollow.lftflot a, .top-links p, .top-links img {
        float:none;
        display:inline;
        padding-top:10px;
    }
    .top-links, .top-links.rgtflot {
        margin:0 0 8px 0;
        padding-top:4px;
    }
    .top-links.rgtflot {
        margin-top:12px;
        margin-bottom:6px;
    }
    input[type="text"].header-saerch, input[type="text"].header-saerch:focus {
        width: 261px;
        margin-top:0px;
    }
    .logo {
        text-align:center;
    }
    .service-steps {
        margin:0;
    }
    .tline-box .blog-date-sp {
        width:80%;
    }
    .tline-box .blog-com-sp {
        width:0;
        display:none;
    }
    .tabs-left > .nav-tabs, .tabs-left > .nav-tabs > li > a, .nav-tabs > li {
        width:100%;
        display:block
    }
    .tabs-left > .nav-tabs > li > a {
        border-right:0 none;
    }
    .tabs-left > .tab-content {
        border:0 none;
    }
    .tab-content .columns, .tab-content .column {
        margin:0 10px;
        max-width:90%;
    }
    .date-sp-wrap {
        margin:0;
        float:right;
        margin-bottom:7px;
    }
    .blog-line .blog-date-sec {
        height:auto;
    }
    .v-shadow-r, .v-shadow-l {
        min-height:inherit;
        background:none;
    }
    .pad-r10, .pad-r20, .pad-r30, .pad-r40, .pad-l10, .pad-l20, .pad-l30, .pad-l40 {
        padding:0;
    }
    .blog-date-sec span, .blog-date-sec h3 {
        display:inline;
        margin:0 10px;
    }
    .one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth {
        width:300px;
        float:none;
        margin-right:0;
        max-width:100%;
    }
    .latest-f-blog, .qot-week {
        margin:0;
    }
    .callout {
        margin:10px 0px 20px;
    }
    .brdr-l1, brdr-r1 {
        padding:0;
        border:0 none;
    }
    .nav-tabs > .active > a, .nav-tabs > .active > a:hover {
        border-top-color:#ff9900;
        padding:18px;
        margin-top:0;
    }
    #main-content-pin .container {
        width:270px;
    }
    .container .icon-box5 {
        margin-bottom:40px;
    }
    #headline h3 {
        text-align:center;
    }
    nav.primary, nav.primary ul li {
        margin:0;
    }
    nav.primary {
        margin-bottom:30px;
    }
    nav.primary ul li a, nav.primary ul li a.selected, nav.primary ul li a:active {
        border:2px solid #e5e5e5;
        margin:3px;
        padding:4px 8px;
    }
    nav.primary ul li a.selected {
        border-color:#b0b0b0;
    }
    nav.primary ul li a:first-of-type {
        margin-left:0;
    }
    nav.primary ul {
        padding-left:0;
        padding-bottom:11px;
    }
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
 @media only screen and (min-width: 480px) and (max-width: 767px) {
    #boxed-wrap {
        width:460px;
    }
    #sidebar, #sidebar2, #leftside, #leftside2, #main-content, #main-content2 {
        width:420px;
        clear:both;
        margin:0 0 21px 0;
        padding:0;
        border:0;
    }
    .page-subtitle {
        left:0;
        padding:10px 0 0 20px;
        bottom:0;
        border-bottom:1px solid #e8edee;
        margin-bottom:20px;
        height:auto;
        width:auto;
        clear:both;
        background:#fdfdfd;
        border-radius:0;
    }
    .contact-form .txbx {
        width:338px;
    }
    .pricing-table .plans-f-list.respo {
        display:inline;
        visibility:visible;
    }
    .proj-det {
        width:420px;
    }
    .jcarousel-item, .related-works .portfolio-item {
        max-width:190px;
        float:left;
    }
    #tline-content {
        width:460px;
    }
    .tline-box {
        width:165px;
    }
    #nav {
        left:61px;
    }
    input[type="text"].header-saerch, input[type="text"].header-saerch:focus {
        margin-right:61px;
    }
    .one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth {
        width:420px;
    }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
 @media only screen and (max-width: 479px) {
    #boxed-wrap {
        width:340px;
    }
    .footbot {
        min-height:38px;
        height:auto;
    }
    #sidebar, #sidebar2, #leftside, #main-content, #main-content2 {
        width:300px;
        clear:both;
        margin:0 0 21px 0;
        padding:0;
        border:0;
    }
    .page-subtitle {
        left:0;
        padding:10px 0 0 20px;
        bottom:0;
        border-bottom:1px solid #e8edee;
        margin-bottom:20px;
        height:auto;
        width:auto;
        clear:both;
        background:#fdfdfd;
        border-radius:0;
    }
    .pricing-table .plans-f-list.respo {
        display:inline;
        visibility:visible;
    }
    .pricing-table ul {
        width:136px;
    }
    .pricing-table ul li {
        width:124px;
        padding:5px;
    }
    .pricing-table ul li.plan-header, .pricing-table ul li .plan-title, .pricing-table ul li .plan-price {
        max-width:136px;
    }
    .pricing-table ul li.plan-footer {
        max-width:114px;
    }
    .portfolio-item {
        margin-bottom:14px;
    }
    .commentin {
        width:92%;
    }
    .portfolio-item {
        margin-bottom:21px;
    }
    .jcarousel-item, .related-works .portfolio-item {
        max-width:120px;
        float:left;
    }
    div img {
        max-width:100%;
    }
    #tline-content {
        width:300px;
    }
    .tline-box {
        width:250px;
    }
    .tline-row-l, .tline-row-r {
        display:none
    }
    .tline-box.rgtline {
        float:left;
        left:0;
    }
    #header h6, .top-bar h6, #header h6 i, .top-bar h6 i {
        text-align:center;
        display:block;
    }
}
@media only screen and (min-width: 1025px) {
    #boxed-wrap {
        width:1180px;
    }
    .white-space {
        height:110px;
    }
    h4.subtitle {
        margin:39px 0 21px 0;
    }
    #main-content-pin .container {
        padding:0 40px;
    }
    .sidebar.leftside {
        background-position: 295px;
        padding-right:70px;
    }
    .blog-date-sec h3 {
        font-size:36px;
    }
    #nav li {
        padding:0 10px;
        margin:0 10px;
    }
}
@media screen and (min-width: 767px) {
    /* ensure #nav is visible on desktop version */
    #nav {
        display: block !important;
    }
    .ls-layer h1, .ls-layer h3 {
        left:10px;
    }
}
/* ---------------------
